<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.attendancechecker" >

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/user"
        android:label="@string/app_name"
        android:roundIcon="@drawable/button_rounded_white"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StudentNavForm"
            android:label="@string/title_activity_student_nav_form"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".ChoiceStudentTeacher" />
        <activity android:name=".RegistrationForm" />
        <activity android:name=".LoginForm" />
        <activity android:name=".FingerPrintForm" />
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>